{% extends "base.html" %}

{% block title %}
<title>{{ title }}</title>
{% endblock %}

{% block body %}

{% if messages %}
    {% for message in messages %}
        {% if message|stringformat:"s" == "job_submit_success"  %}
            <div class="alert alert-block alert-success">
                <a class="close" data-dismiss="alert"></a>
                Encoding Job Submitted!
            </div>
        {% endif %}
    {% endfor %}
{% endif %}
<script type="text/javascript">
$(".alert").delay(4500).fadeOut();
</script>

</br>

<center>
    {% if jobs %}
        <table class="table table-striped table-bordered table-nonfluid">
            <tr>
                <th>UUID</th>
                <th>Filename</th>
                <th>Job Status</th>
                <th>URLs</th>
                <th>Created At</th>
            </tr>
            {% for job in jobs %}
            <tr>
                <td>
                    {{ job.orig_uuid }}
                </td>
                <td>
                    {{ job.filename }}
                </td>
                <td style="text-transform: capitalize">
                    {{ job.status }}
                </td>
                <td style="text-transform: capitalize">
                    {% for name, url in job.urls.items %}
                        {% if 'snet' not in name %}
                            <a href="{{ url }}">{{ name }}</a>
                        {% endif %}
                    {% endfor %}
                </td>
                <td>
                    {{ job.created_at }}
                </td>
            </tr>
            {% endfor %}

        </table>
    {% else %}
        No jobs have been submitted.
        </br></br>
        <form action="/">
            <input class="btn btn-med btn-primary" type="submit" value="Submit New Encoding Job">
        </form>
    {% endif %}
</center>

{% endblock %}
