{% extends "base.html" %}

{% block title %}
<title>{{ title }}</title>
{% endblock %}

{% block body %}

{% if messages %}
    {% for message in messages %}
        {% if message|stringformat:"s" == "job_submit_success"  %}
            <div class="alert alert-block alert-success">
                <a class="close" data-dismiss="alert"></a>
                Job Submitted!
            </div>
        {% endif %}
    {% endfor %}
{% endif %}
<script type="text/javascript">
$(".alert").delay(4500).fadeOut();
</script>

Status Index

{% endblock %}
